[Unit]
After=network.target

[Service]
WorkingDirectory=/root/sim
ExecStart=/root/sim/.venv/bin/python3 src/main.py
Restart=always

[Install]
WantedBy=multi-user.target